<!DOCTYPE html>
<html>
<head>
<title>SQL Basics</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="notes-card">

<h1>💻 SQL Basics</h1>

<p>
SQL stands for Structured Query Language.
It is used to communicate with databases.
</p>

<h2>Common Commands</h2>

<ul>

<li>CREATE</li>

<li>INSERT</li>

<li>SELECT</li>

<li>UPDATE</li>

<li>DELETE</li>

</ul>

<h2>Example</h2>

<pre>
SELECT * FROM Student;
</pre>

<h2>Output</h2>

<pre>
Roll   Name

101    Shalini

102    Rahul
</pre>

<a href="/dbms" class="btn">⬅ Back</a>

</div>

</body>
</html>