<!DOCTYPE html>
<html>
<head>
<title>DBMS Keys</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="notes-card">

<h1>🔑 DBMS Keys</h1>

<p>
Keys are used to identify records uniquely.
</p>

<h2>Types of Keys</h2>

<ul>

<li>Primary Key</li>

<li>Foreign Key</li>

<li>Candidate Key</li>

<li>Alternate Key</li>

<li>Composite Key</li>

<li>Super Key</li>

</ul>

<h2>Example</h2>

<pre>
Student

Roll No   Name

101       Shalini

102       Rahul
</pre>

<p>
Roll Number is the Primary Key because every student has a unique roll number.
</p>

<a href="/dbms" class="btn">⬅ Back</a>

</div>

</body>
</html>