<!DOCTYPE html>
<html>
<head>

<title>Normalization</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="notes-card">

<h1>📊 Normalization</h1>

<p>
Normalization is the process of organizing data to reduce redundancy.
</p>

<h2>Normal Forms</h2>

<ul>

<li>1NF</li>

<li>2NF</li>

<li>3NF</li>

<li>BCNF</li>

</ul>

<h2>Advantages</h2>

<ul>

<li>Reduces Duplicate Data</li>

<li>Improves Data Integrity</li>

<li>Easy Maintenance</li>

</ul>

<a href="/dbms" class="btn">⬅ Back</a>

</div>

</body>
</html>