 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>If Else - Python Notes</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="notes-card">

    <h1>🔀 If Else in Python</h1>

    <p>
        The if...else statement is used to make decisions in Python.
    </p>

    <h2>Syntax</h2>

<pre>
if condition:
    statement

else:
    statement
</pre>

    <h2>Example</h2>

<pre>
age = 18

if age >= 18:
    print("You can vote")
else:
    print("You cannot vote")
</pre>

    <h2>Output</h2>

<pre>
You can vote
</pre>

    <a href="/python" class="btn">⬅ Back</a>

</div>

</body>
</html>
    