<!DOCTYPE html>
<html>
<head>
<title>Java Operators</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="notes-card">

<h1>➕ Java Operators</h1>

<p>Operators perform operations on variables and values.</p>

<h2>Types</h2>

<ul>
<li>Arithmetic</li>
<li>Comparison</li>
<li>Logical</li>
<li>Assignment</li>
<li>Unary</li>
</ul>

<h2>Example</h2>

<pre>
int a = 10;
int b = 5;

System.out.println(a+b);
System.out.println(a-b);
System.out.println(a*b);
System.out.println(a/b);
</pre>

<h2>Output</h2>

<pre>
15
5
50
2
</pre>

<a href="/java" class="btn">⬅ Back</a>

</div>

</body>
</html>