<!DOCTYPE html>
<html>
<head>
<title>JavaScript Loops</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="notes-card">

<h1>🔁 JavaScript Loops</h1>

<p>
Loops execute a block of code multiple times.
</p>

<h2>Types of Loops</h2>

<ul>
<li>for Loop</li>
<li>while Loop</li>
<li>do...while Loop</li>
</ul>

<h2>Example</h2>

<pre>
for(let i=1; i<=5; i++){

    console.log(i);

}
</pre>

<h2>Output</h2>

<pre>
1
2
3
4
5
</pre>

<a href="/javascript" class="btn">⬅ Back</a>

</div>

</body>
</html>