<!DOCTYPE html>
<html>
<head>
<title>JavaScript Data Types</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="notes-card">

<h1>🔢 JavaScript Data Types</h1>

<p>
Data Types define the type of data stored in variables.
</p>

<h2>Common Data Types</h2>

<ul>
<li>Number</li>
<li>String</li>
<li>Boolean</li>
<li>Null</li>
<li>Undefined</li>
<li>Object</li>
</ul>

<h2>Example</h2>

<pre>
let age = 22;
let name = "Shalini";
let student = true;
</pre>

<a href="/javascript" class="btn">⬅ Back</a>

</div>

</body>
</html>