<!DOCTYPE html>
<html>
<head>
<title>JavaScript If Else</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="notes-card">

<h1>🔀 JavaScript If Else</h1>

<p>
The if...else statement is used to make decisions.
</p>

<h2>Example</h2>

<pre>
let age = 18;

if(age >= 18){
    console.log("Eligible");
}
else{
    console.log("Not Eligible");
}
</pre>

<h2>Output</h2>

<pre>
Eligible
</pre>

<a href="/javascript" class="btn">⬅ Back</a>

</div>

</body>
</html>