<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript</title>

    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <h1>💻 JavaScript Notes</h1>

<div class="container">

    <div class="card">

        <h2>📘 Python Chapters</h2>

<div class="chapter-list">
    <div class="chapter-card">
    <h3>📘 Introduction to JavaScript</h3>
    <a href="/javascript/introduction" class="btn">Read Notes</a>
</div>

<div class="chapter-card">
    <h3>📦 Variables</h3>
    <a href="/javascript/variables" class="btn">Read Notes</a>
</div>

<div class="chapter-card">
    <h3>🔢 Data Types</h3>
    <a href="/javascript/datatypes" class="btn">Read Notes</a>
</div>

<div class="chapter-card">
    <h3>➕ Operators</h3>
    <a href="/javascript/operators" class="btn">Read Notes</a>
</div>

<div class="chapter-card">
    <h3>🔀 If Else</h3>
    <a href="/javascript/ifelse" class="btn">Read Notes</a>
</div>

<div class="chapter-card">
    <h3>🔁 Loops</h3>
    <a href="/javascript/loops" class="btn">Read Notes</a>
</div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>