<!DOCTYPE html>
<html>
<head>

<title>Java If Else</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="notes-card">

<h1>🔀 If Else Statement</h1>

<p>If Else is used for decision making.</p>

<h2>Syntax</h2>

<pre>
if(condition){

}

else{

}
</pre>

<h2>Example</h2>

<pre>
int age = 18;

if(age>=18){

System.out.println("Adult");

}

else{

System.out.println("Child");

}
</pre>

<h2>Output</h2>

<pre>
Adult
</pre>

<a href="/java" class="btn">⬅ Back</a>

</div>

</body>
</html>