<!DOCTYPE html>
<html>
<head>
<title>JavaScript Variables</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="notes-card">

<h1>📦 JavaScript Variables</h1>

<p>
Variables are used to store data values.
</p>

<h2>Types of Variables</h2>

<ul>
<li>var</li>
<li>let</li>
<li>const</li>
</ul>

<h2>Example</h2>

<pre>
let name = "Shalini";
let age = 22;

console.log(name);
console.log(age);
</pre>

<h2>Output</h2>

<pre>
Shalini
22
</pre>

<a href="/javascript" class="btn">⬅ Back</a>

</div>

</body>
</html>